<div class="homepage">
  <section id="homepage-welcome-text">
    <h1 class="homepage-main-title">{% render 'homepage-main-text' %}</h1>
    <p class="homepage-text">{% render 'homepage-text' %}</p>
    <a class="get-started-button" href="">Lets get started.</a>
  </section>
</div>
