<section class="info-section">
    <div class="info-div info1">
        <h2>Our <br>Pitch |</h2>
        <p>{% render 'info1' %}</p>
    </div>
    <div class="info-div info2">
        <h2>Our <br>Mission |</h2>
        <p>{% render 'info2' %}</p>
    </div>
    <div class="info3-wrap">
        <div class="info3">
            <h2>FAQ |</h2>
            <p>{% render 'info3' %}</p>
        </div>
        <div class="info-next-button">
            {% render 'learnMoreDropDown' %}
        </div>
    </div>
</section>